@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */
::-webkit-scrollbar {
width: 0.5em; /* Ajuste o tamanho da barra de rolagem a gosto */
}

::-webkit-scrollbar-thumb {
background-color: transparent; /* Oculta o polegar da barra de rolagem */
}

::-webkit-scrollbar-track {
background: transparent; /* Oculta a faixa da barra de rolagem */
}